@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* Bu CSS kodunu global CSS dosyanıza ekleyin veya mevcut bir stil bloğuna dahil edin */
body {
  background-color: #ffffff; /* Beyaz arka plan */
  color: #333333; /* Koyu gri metin rengi */
}

input,
textarea,
button {
  background-color: #fff; /* Beyaz arka plan */
  color: #333; /* Koyu gri metin rengi */
  border-color: #ccc; /* Açık gri kenarlık */
}

/* Odaklandığında ve üzerine gelindiğinde renkleri ayarlayın */
input:focus,
textarea:focus,
button:hover {
  border-color: #007bff; /* Mavi kenarlık */
}
